body {
    font-family: 'SF Compact Display', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

input, button, select {
    outline: none;
}

h1 {
    margin: 0.8rem;
}